* {
    transition-duration: .4s;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #cfe2ce;
    color: #2d452f;
    overflow-x: hidden;
}

header {
    font-weight: 800;
}

main {
    flex: 1 0 auto;
}

footer {
    margin-top: 50px;
}

a {
    text-decoration: none !important;
}

form {
    width: 40%;
    min-width: 300px;
    margin: 50px auto;
}

.input {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    border: 1px solid #ccc;
}

.input input {
    flex: 1 0 auto;
    border: none;
    outline: none;
}

.input input:focus {
    background-color: transparent;
}

.input label {
    font-size: 23px;
}

header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.submit {
    width: 150px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.submit input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.submit:hover {
    background-color: #45a049;
}

#forgot {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

#forgot div {
    flex: 1 0 auto;
}

.h-icon {
    font-size: large;
}

.detail {
    display: flex;
    flex-direction: row;
}

.detail div:first-child {
    flex: 1;
    text-align: right;
    padding-right: 20px;
}

.detail div:last-child {
    flex: 1;
    padding-left: 20px;
}

li {
    list-style-type: none;
}

#bot-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    font-size: xx-large;
}

#bot {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 2;
}

#bot iframe {
    height: 100%;
    width: 100%;
    max-width: 700px;

}

.hire {
    background-color: #2d452f;
    color: #cfe2ce;
    padding: 5px;
    text-align: center;
    font-size: xx-large;
}
