{% extends 'base.html' %} {% block content %}

<div id="hire">
  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width: 1400px">
    <!-- The Grid -->
    <div class="w3-row-padding">
      <!-- Left Column -->
      <div class="w3-third">
        <div class="w3-text-grey w3-card-4 w3-round">
          <div class="w3-display-container w3-round">
            <img
              src="{{ url_for('static', filename='media/pass.jpg') }}"
              style="width: 100%"
              alt="Avatar"
              class="w3-round"
            />
            <div class="w3-display-bottomleft w3-container w3-text-black">
              <h2>Jacob Achira</h2>
            </div>
          </div>
          <br />
          <div class="w3-container description">
            <p>
              <i
                class="bi bi-briefcase w3-margin-right w3-large w3-text-teal"
              ></i
              >Software Engineer (Backend)
            </p>
            <p>
              <i class="bi bi-house w3-margin-right w3-large w3-text-teal"></i
              >Nairobi, Kenya
            </p>
            <p>
              <i
                class="bi bi-envelope w3-margin-right w3-large w3-text-teal"
              ></i
              >achirajacob9@gmail.com
            </p>
            <p>
              <i class="bi bi-phone w3-margin-right w3-large w3-text-teal"></i
              >(254) 748199786
            </p>
            <hr />

            <p class="w3-large">
              <b
                ><i class="bi bi-asterisk w3-margin-right w3-text-teal"></i
                >Skills</b
              >
            </p>
            <p>Agile development</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 90%"
              >
                90%
              </div>
            </div>
            <p>Photography</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 80%"
              >
                <div class="w3-center w3-text-white">80%</div>
              </div>
            </div>
            <p>Illustrator</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 75%"
              >
                75%
              </div>
            </div>
            <p>Media</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 50%"
              >
                50%
              </div>
            </div>
            <br />
            <hr />
            <br />

            <p class="w3-large w3-text-theme">
              <b
                ><i class="bi bi-globe w3-margin-right w3-text-teal"></i
                >Languages</b
              >
            </p>
            <p>English</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div
                class="w3-round-xlarge w3-teal w3-center"
                style="height: 20px; width: 100%"
              >
                C1
              </div>
            </div>
            <br />
            <p>Kiswahili</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div
                class="w3-round-xlarge w3-teal w3-center"
                style="height: 20px; width: 100%"
              >
                C2
              </div>
            </div>
            <br />
          </div>
        </div>
        <br />

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird description">
        <div class="w3-container w3-card w3-margin-bottom w3-round">
          <h2 class="w3-text-grey w3-padding-16">
            <i
              class="bi bi-suitcase w3-margin-right w3-xxlarge w3-text-teal"
            ></i
            >Work Experience
          </h2>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>Consultant - CPHRM GROUP · Contract</b>
            </h5>
            <h6 class="w3-text-teal">
              <i class="bi bi-calendar w3-margin-right"></i>Nov 2023 - Jan 2023
            </h6>
            <p style="text-align: justify">
              As a TPQA Data Collection Officer, I ensured high-quality data by
              conducting thorough household visits, utilizing digital tools for
              interviews, and performing visual surveys from Monday to Saturday.
              I maintained effective communication with my supervisor, clarified
              assignment objectives, and promptly addressed issues. My
              adaptability was evident in handling additional responsibilities,
              enhancing my skills in data collection, quality assurance, and
              creative problem-solving.
            </p>
            <hr />
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b
                >Teaching Intern - Mathematics & Geography · Kenyenya SDA
                Secondary</b
              >
            </h5>
            <h6 class="w3-text-teal">
              <i class="bi bi-calendar w3-margin-right"></i>Jan 2023 - Apr 2023
            </h6>
            <p style="text-align: justify">
              In my teaching internship (January to April 2023), I developed
              crucial IT industry skills—analytical thinking, attention to
              detail, and data management. The experience highlighted
              adaptability, effective communication, and collaboration.
              Implementing creative teaching techniques and engaging in
              interdisciplinary projects showcased my problem-solving and
              teamwork abilities. Eager to apply these skills in the
              ever-evolving world of technology.
            </p>
            <hr />
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>Data Collector - Public Service Commision · Contract</b>
            </h5>
            <h6 class="w3-text-teal">
              <i class="bi bi-calendar w3-margin-right"></i>Jun 2022 - July 2022
            </h6>
            <p style="text-align: justify">
              Conducted precise household surveys using digital tools, ensuring
              reliable data collection. Effectively communicated project goals
              to respondents, fostering a harmonious working relationship.
              Collaborated closely with supervisors, executing extensive visual
              surveys and maintaining an efficient data collection process.
              Identified and reported issues, contributing significantly to data
              quality assurance.
            </p>
            <br />
            <hr />
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b
                >Digital Farmer Registration Enumerator - Kenya Ministry of
                Agriculture and Livestock Development</b
              >
            </h5>
            <h6 class="w3-text-teal">
              <i class="bi bi-calendar w3-margin-right"></i>Feb 2021 - Feb 2021
            </h6>
            <p style="text-align: justify">
              By utilizing digital systems, we efficiently registered farmers
              and maintained accuracy in our data collection. Our team worked
              seamlessly together to support farmers and ensure a streamlined
              data collection process. We also met project objectives and
              deadlines by displaying meticulous attention to detail in our data
              collection tasks.
            </p>
          </div>
        </div>

        <div class="w3-container w3-card w3-round">
          <h2 class="w3-text-grey w3-padding-16">
            <i
              class="bi bi-patch-check w3-margin-right w3-xxlarge w3-text-teal"
            ></i
            >Education
          </h2>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>Udacity / Agile software developer </b>
            </h5>
            <h6 class="w3-text-teal">
              <i class="bi bi-calendar w3-margin-right"></i>December 2023 -
              <span class="w3-tag w3-teal w3-round">Current</span>
            </h6>
            <p>Agile software Developer</p>
            <hr />
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>ALX / Software Engineering</b></h5>
            <h6 class="w3-text-teal">
              <i class="bi bi-calendar fa-fw w3-margin-right"></i>January 2023 -
              January 2024
            </h6>
            <p>Nanodegree</p>
            <hr />
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Moi University / Education</b></h5>
            <h6 class="w3-text-teal">
              <i class="bi bi-calendar fa-fw w3-margin-right"></i>September 2019
              - December 2023
            </h6>
            <p>Degree</p>
            <br />
          </div>
        </div>

        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>
</div>

<script>
  const hire = document.getElementById("hire");
</script>

{% endblock %}
