{% extends 'base.html' %}

{% block content %}
<form action=" {{ url_for('racer_auth.login') }} " method="post">
    <div class="w3-center">
        <h3>Log in</h3>
    </div>
    <br>
    <div class="input">
        <input type="email" id="email" name="email" placeholder="Email">
        <label for="username"><i class="bi bi-envelope-fill"></i></label>
    </div>
    <div class="input">
        <input type="password" id="password" name="password" placeholder="Password">
        <label for="password"><i class="bi bi-key"></i></label>
    </div>
    <div class="submit">
        <input type="submit" value="Login">
    </div>
    <br>
    <div class="w3-center" id="forgot">
        <div>
            <a href="{{ url_for('racer_auth.register') }}">
                Create account
            </a>
        </div>

        <div>
            <a href="">Forgot Password?</a>
        </div>
    </div>
</form>

{% endblock %}