{% extends 'base.html' %}

{% block content %}
<form action=" {{ url_for('racer_auth.save_new_password', token=token) }}" method="post">
<div class="w3-center">
    <h3>Type new Password</h3>
</div>
<br><br>
        <div class="input">
            <input type="password" id="password" name="password" placeholder="Password">
            <label for="password"><i class="bi bi-key"></i></label>
        </div>
        <div class="input">
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
            <label for="confirm-password"><i class="bi bi-key-fill"></i></label>
        </div>
        <div class="submit">
            <input type="submit" value="Save password">
        </div>
    </form>

{% endblock %}