{% extends 'base.html' %}

{% block content %}
<form action=" {{ url_for('racer_auth.register') }} " method="post">
<div class="w3-center">
    <h3>Sign Up</h3>
</div>
<br><br>
        <div class="input">
            <input type="text" id="username" name="username" placeholder="Username">
            <label for="username"><i class="bi bi-person"></i></label>
        </div>
        <div class="input">
            <input type="email" id="email" name="email" placeholder="Email">
            <label for="email"><i class="bi bi-envelope-fill"></i></label>
        </div>
        <div class="input">
            <input type="password" id="password" name="password" placeholder="Password">
            <label for="password"><i class="bi bi-key"></i></label>
        </div>
        <div class="input">
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
            <label for="confirm-password"><i class="bi bi-key-fill"></i></label>
        </div>
        <div class="submit">
            <input type="submit" value="Sign Up">
        </div>
        <br>
        <div class="w3-center">
            <p>Already have an account? <a href="{{ url_for('racer_auth.login') }}">Log in</a></p>
        </div>
    </form>

{% endblock %}